.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #1e1e1e;
}

.logo {
  color: #4ade80;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #4ade80;
}
